@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0px !important;
  background-color: black;
}

* {
  margin: 0px !important;
  font-family: "Poppins", sans-serif;
}

ul,
li {
  list-style: none;
}

body {
  padding: 20px 30px;
}

.ant-message-custom-content.ant-message-info {
  gap: 10px !important;
  align-items: center;
}

.fof-page {
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-btn-container a {
  background-color: #ffbf00;
  border: none;
  padding: 8px 30px;
  font-weight: 500;
  text-align: center;
  color: black;
  text-decoration: none;
}

.img-btn-container button:hover {
  background-color: #ffbf00 !important;
  color: black !important;
  border: none;
}

.ant-picker-dropdown .ant-picker-ranges {
  gap: 15px;
}

.ant-pagination.ant-table-pagination {
  margin-top: 20px !important;
}

.ant-pagination .ant-pagination-item-active {
  border: 2px solid #ff9900 !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #944700 !important;
}

.ant-pagination .ant-pagination-item {
  background-color: aliceblue !important;
}

.ant-table-wrapper .ant-table-pagination {
  gap: 5px !important;
}

.ant-space-gap-col-small {
  padding-top: 10px;
}

.ant-drawer-content-wrapper {
  width: 300px !important;
}
